<!DOCTYPE html>
<!--
Drizzling - Tim Ng, Endrit 
SoftDev
K23 - API Keys
2024-11-20
time spent: 45 minutes
-->

<html> 
    <head>
        <title>Testing</title>
    </head>
    <body>
        <h1>Team Drizzling</h1>
        <h2>Endrit Idrizi and Tim Ng</h2>
        <img src="{{url}}" alt="NASA Image" width="400" height="auto">
        <p>The image above is known as the NASA APOD, which is short for NASA's Astronomy Picture of the Day. As implied<br>from its name, the image changes every day and is usually a picture of something beautiful in space. By using their API,<br>our website will automatically update the image as the link in the json file changes too.</p>
    </body>
</html>